ul{
    list-style-type: none;
    width: 13%;
    margin: 0px;
    padding: 0px;
    background-color: darkslategray;
    position: fixed;
    height: 100%;
}

li{
    border-bottom: 1px solid black;
}

body{
    margin: 0px;
}

li a{
    display: block;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 16px;
    color: dodgerblue;
}

li a.active{
    background-color: green;
    color: white;
}

li a:hover:not(.active){
    background-color: green;
    color: white;
}
div{
    margin-left: 14%;
    padding: 2px;
}