
.dropDown{
    position: relative;
    display: inline-block;
    width: 100%;
}
.content{
    position:absolute; /* Sayfadan bağımsız hale getirdik */
    z-index: 1; /* En üste çıkar */
    background-color: aqua;
    width: 30%;
    padding: 12px 16px;
    border: 1px solid black;
    box-shadow: 0 8px 16px 0 gray;
    display: none; /* Görünmez */
}
.dropDown:hover .content{
    display: block; /* Görünür */
}